/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.custom-font { 
  font-family: 'Droid Sans', sans-serif;
  font-weight: 800;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-small {
      height:590px;
}

.logo-small{
  height: 50px;
  margin-top: 7px;
}

.font-10{
  font-size: 10px;
}

.font-13{
  font-size: 13px;
}

.font-14{
  font-size: 14px;
}

.font-15{
  font-size: 15px;
}

.font-16{
  font-size: 16px;
}

.font-17{
  font-size: 17px;
}

.font-18{
  font-size: 18px;
}

.font-19{
  font-size: 19px;
}

.font-20{
  font-size: 20px;
}

.font-21{
  font-size: 21px;
}

.font-22{
  font-size: 22px;
}

.font-23{
  font-size: 23px;
}

.font-24{
  font-size: 24px;
}

.font-25{
  font-size: 25px;
}

.font-27{
  font-size: 27px;
}

.font-40{
  font-size: 40px;
}

.pengurus{
  width: 175px;
}

.kerjasama{
  width: 85px;
}

.top{
  background-image: url("image/background1.jpg");
}

.wedo{
  height: 75px;
}

.bar{
  width: 675px;
  margin: 0px;
}

.komunitas{
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.events{
  width: 450px;
  height: 350px;
  cursor: pointer;
}

.clean{
  margin:0px;
}

.clean-10{
  margin-top:10px;
  margin-bottom:0px;
}

.clean-15{
  margin-top:15px;
  margin-bottom:0px;
}

#map{
  width: 100%;
  height: 225px;
}

.show{display:block}

.hoverEffect1
{
  width:100%;
  left:0;
  top:0;
  display:block;
  height:100%
}
  
.hoverEffect1
{
  position:absolute;
  background:rgba(0,0,0,.1);
  transition:all 300ms linear;
  transform:scale(.01);
  -webkit-transform:scale(.01);
  -o-transform:scale(.01);
  -ms-transform:scale(.01);
  transform-origin:center center
}

.card:hover .hoverEffect1
{
  transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  background:rgba(0,0,0,.7)
}